<section class="home">
    <div class="container col-md-12">

        <div class="col-md-offset-2">
            <img src="/firstpage/ouiExpatLogo.png" alt="ouiExpat" id="ouiExpatLogo" />
        </div>

        <div class="container col-md-12" id="containerofbuttons">
            <div class="row col-md-3">
                <div ng-if="!$ctrl.displayConnect">
                    <div class="col-md-12" id="bootstrap">
                        <button type="button" class="btn btn-primary btn-lg" id="btn" ng-click="$ctrl.displayConnect = true">Connexion</button>
                    </div>
                </div>
                <div class="connect col-md-12" ng-if="$ctrl.displayConnect">
                    <button type="button" class="btn btn-warning btn-xs" ng-click="$ctrl.displayConnect = false" id="close">X</button>
                    <div class="form-group">
                        <div class="inputGroupContainer col-md-12">
                            <div class="input-group col-md-12" id="connectPseudo">
                                <input class="form-control col-md-12" name="pseudo" placeholder="Pseudo" type="text">
                            </div>
                            <div class="input-group col-md-12" id="connectMdp">
                                <input class="form-control col-md-12" name="mdp" placeholder="Mot de passe" type="text">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row col-md-offset-6 col-md-3">
                <div ng-if="!$ctrl.displayCreate">
                    <div class="col-md-12" id="bootstrap">
                        <button type="button" class="btn btn-primary btn-lg" id="btn" ng-click="$ctrl.displayCreate = true">Créer un compte</button>
                    </div>
                </div>
                <div class="create col-md-12" ng-if="$ctrl.displayCreate">
                    <button type="button" class="btn btn-warning btn-xs" ng-click="$ctrl.displayCreate = false" id="close">X</button>
                    <div class="form-group">
                        <div class="inputGroupContainer col-md-12">
                            <div class="input-group col-md-12" id="createPseudo">
                                <input class="form-control col-md-12" name="pseudo" placeholder="Pseudo" type="text">
                            </div>
                            <div class="input-group col-md-12" id="createMail">
                                <input class="form-control col-md-12" name="email" placeholder="E-Mail" type="text">
                            </div>
                            <div class="input-group col-md-12" id="createMdp">
                                <input class="form-control col-md-12" name="mdp" placeholder="Mot de passe" type="text">
                            </div>
                            <div class="input-group col-md-12" id="createMdpConf">
                                <input class="form-control col-md-12" name="mdpconf" placeholder="Confirmez le Mot de passe" type="text">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="container col-md-12" id="icones">
        <div class="row col-md-offset-4">
            <img class="col-md-2 col-md-offset-1" src="/firstpage/fbicon.png" alt="fbicon" id="img" />
            <img class="col-md-offset-1 col-md-2" src="/firstpage/twicon.png" alt="twicon" id="img" />
        </div>
    </div>

</section>
