<body>
    <div class="container col-md-12">

        <div class="col-md-offset-2">
            <img src="/firstpage/ouiExpatLogo.png" alt="ouiExpat" id="ouiExpatLogo" />
        </div>

        <div class="col-md-offset-8 col-md-3" id="btnCnx">
            <button type="button" class="btn btn-primary btn-lg" id="btn">Connexion</button>
        </div>

        <div class="col-md-offset-8 col-md-3" id="btnCuc">
            <button type="button" class="btn btn-primary btn-lg" id="btn">Créer un compte</button>
        </div>

        <div class="col-md-12">
            <img class="col-md-offset-9 col-md-1" src="/firstpage/fbicon.png" alt="fbicon" id="img" />
            <img class="col-md-1" src="/firstpage/twicon.png" alt="twicon" id="img" />
        </div>

    </div>
</body>
