body {
    background-image: url("/firstpage/background.jpeg");
    background-size: 100%;
}

#ouiExpatLogo {
    padding-top: 80px;
    width: 80%;
}

#btnCnx {
    padding-top: 100px;
}

#btnCuc {
    padding-top: 30px;
}

#btn {
  width: 300px;
  font-size: 200%;
  border-radius: 0px;
  border: none;
  background-color: #00B8AA;
}

#img {
  width: 110px;
  padding-top: 90px;
}
